<h1>Eat Da Burger</h1>

<h2>Burgers Eaten</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Burgers that have yet to be eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button data-id="{{this.id}}" class="eat">Eat Da Burger</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>


<form class="create-form">
  <h2>Add a Burger</h2>
  <label for="burger_name">Burger Name</label>
  <input type="text" id="newBurger" name="burger_name">

  <button type="submit">Get It</button>
</form>